@{
    ViewBag.Title = "Home Page";
}
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/Images/resource/escultura2.jpg" class="img-fluid" height="400" style="position:inherit; text-align:right" />
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<br />
<br />
<br />
<br />
<h2 class="text-center">Nuestas esculturas más vendidas</h2>
<div class="container" style="position:center; text-align:center">
    <div class="container-fluid">
        <div class="card-deck">
            <div class="card m-3" >
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/Images/resource/escultura1.png" width="300" style="text-align:center"/>
                    <h5 class="card-title text-center">World Fox 3D</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">Madera</h6>
                    <p class="card-text text-center">Precio:$350.00</p>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-danger btn-primary">Comprar ahora</a>
                    </div>
                </div>
            </div>
            <div class="card m-3">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/Images/resource/escultura3.jpg" width="300" style="text-align:center" />
                    <h5 class="card-title text-center">Escultura Arte Huichol - Tsamaikita</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">Madera</h6>
                    <p class="card-text text-center"><del class="text-danger">Antes:$900</del></p>
                    <p class="card-text text-center">Ahora:$550.00</p>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-danger btn-primary">Comprar ahora</a>
                    </div>
                </div>
            </div>
            <div class="card m-3">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/Images/resource/escultura4.jpg" width="300" style="text-align:center" />
                    <h5 class="card-title text-center">Balloon Dog</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">Metal</h6>
                    <p class="card-text text-center">Precio:$809.99</p>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-danger btn-primary">Comprar ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
    
  